
        div {
            background-color: rgb(211, 211, 246);
            font-size: larger;
            display: flex;
            justify-self: unset;
            justify-content: space-evenly;
        }

        .a {
            display: none;
        }

        .ab:hover .a {
            display: block;
        }

        .b {
            display: none;
        }

        .bc:hover .b {
            display: block;

        }

        .c {
            display: none;
        }

        .cd:hover .c {
            display: block;
        }
        .d{
            display: none;
        }
        .de:hover .d{
            display: block;

        }
        /* .first{
            float: left;
            width: 100px;
            height: 100px;
            
        }
        .second{
            float: right;
            width: 1300px;
            height: auto;
        } */

    